*{
box-sizing: border-box;
}
body {
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Ubuntu, sans-serif;
}
.wrapper {
    margin: auto;
}
.topBar {
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 53px;
}
.title {
    padding-left: 79px;
    font-size: 22px;
    font-weight: 700;
}
.title:hover {
    color: rgba(1, 129, 63, 1);
}
.rightSide {
    padding-right: 79px;
    display: flex;
    flex-direction: row;
}
.logo {
    display: flex;
    justify-content: space-between;
}
.calendar {
    width: 21px;
    height: 24px;
    margin-right: 26px;
    background-image: url(./images/calendar.svg);
}
.calendar:hover {
   background-image: url(./images/calendar-hover.svg);
}
.mail {
    width: 23px;
    height: 23px;
    background-image: url(./images/mail.svg);
    margin-right: 26px;
}
.mail:hover {
    background-image: url(./images/mail-hover.svg);
}
.navigation {
    width: 23px;
    height: 23px;
    background-image: url(./images/navigation.svg);
}
.navigation:hover {
    background-image: url(./images/navigation-hover.svg);
}
.verticalLine {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.9);
    width: 1px;
    height: 19px;
    align-self: center;
    margin: 0px 27px 0px 25px;
}
.signOrlog {
    align-self: center;
}
.greenText:hover {
    color: rgba(1, 129, 63, 1);
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    width: 444px;
    height: 584px;
    margin: auto;
}
.greenBlock {
    width: 18px;
    height: 18px;
    background-color: rgba(60, 184, 120, 1);
    margin-right: 42px;
}
.topLine {
    display: flex;
    justify-content: space-between;
}
.leftBlock {
    display: flex;
}
.signUp {
    font-size: 20px;
    color: rgba(67, 67, 67, 1);
    text-decoration: none;
}
.logIn {
    margin-right: 60px;
    text-decoration: none;
    color: rgba(1, 129, 63, 1);
    
}
.greenLogin:hover {
    text-decoration: underline;
    color: rgba(1, 129, 63, 1);
}
.social {
    margin-top: 16px;
    margin-left: 61px;
    margin-right: 60px;
    display: flex;
    justify-content: center;
}
.facebook {
    display:flex;
    justify-content: space-between;
    background-color: rgba(48, 93, 184, 1);
    border-radius: 4px;
    width: 157px;
    height: 46px;
    text-align: center;
    margin-right: 4px;
    text-decoration: none;
}
.facebook:hover {
    background-color: rgba(2, 34, 99, 1);
}
.firstIcon {
    background-image: url(./images/f\ 1.svg);
    width: 12.46px;
    height: 24px;
    align-self: center;
    margin-left: 17px;
    margin-right: 18px;
}
.blueStick {
    display: flex;
    flex-direction: row;
    width: 1px;
    height: 28px;
    background-color: rgba(10, 22, 47, 1);
    opacity: 10%;
    align-self: center;
}
.facebookButton {
    color:rgba(255, 255, 255, 1);
    margin: 16px 20px 16px;
}
.google {
    display:flex;
    justify-content: space-between;
    background-color: rgba(223, 74, 50, 1);
    border-radius: 4px;
    width: 157px;
    height: 46px;
    text-align: center;
}
.google:hover{
    background-color: rgb(171, 31, 9, 1);
}
.secondIcon {
    background-image: url(./images/G+.svg);
    width: 30px;
    height: 19px;
    align-self: center;
    margin-left: 12px;
    margin-right: 7px;
}
.redStick {
    display: flex;
    flex-direction: row;
    width: 1px;
    height: 28px;
    background-color:rgba(43, 13, 9, 1);
    opacity: 10%;
    align-self: center;
}
.googleButton {
    color:rgba(255, 255, 255, 1);
    text-decoration: none;
    margin: 17px 27px 17px;
}
.makeChoice {
    margin-top: 31px;
    display: flex;
    justify-content: center;
}
.firstStick {
    flex-direction: row;
    align-self: center;
    width: 152px;
    height: 1px;
    background-color: rgba(242, 242, 242, 1);
}
.word {
    margin: 0px 5px 0px 5px;
}
.secondStick {
    flex-direction: row;
    align-self: center;
    width: 152px;
    height: 1px;
    background-color: rgba(242, 242, 242, 1);
}
.validation {
    margin-top: 12px;
}
.validation input[type=text] {
    font-size: 14px;
    width: 324px;
    height: 44px;
    margin: 8px 0;
    border: 1px solid rgba(242, 242, 242, 1);
    border-radius: 4px;
    transition: 0.5s;
    outline: none;
    padding-left: 20px;
}
.validation>input:focus {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
  border-color: 1px solid transparent;
}
::placeholder {
    color: rgba(190, 190, 190, 1);
}
.customCheckbox {
    display: flex;
    align-self:flex-start;
    align-items: center;
    position: relative;
    height: 20px;
    margin-top: 12px;
    margin-left: 42px;
}
.labelText {
    padding-left: 50px;
}
#customCheckboxInput {
    display: none;
}
.customCheckbox label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-color:white;
    border: 1px solid #F2F2F2;
    position: absolute;
    top: 0px;
    left: 20px; ;
}
.customCheckbox input[type=checkbox]:checked +label {
    cursor: pointer; 
}
.customCheckbox input[type=checkbox]:checked +label::after {
    content: '';
    display: inline-block;
    height: 18px;
    width: 18px;
    background-image: url(./images/Vector\ 1.svg);
    background-repeat: no-repeat;
    position: absolute;
    left: 22px;
    top: 2px;
}
.terms {
    text-decoration: none;
    color: rgba(60, 184, 120, 1);
    margin-left: 4px;
}
.terms:hover {
    text-decoration: underline;
}
.greenButton {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    margin-top: 20px;
    width: 324px;
    height: 46px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    text-decoration: none;
}
.greenButton:hover {
    background-color: rgba(1, 129, 63, 1);
}
